@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<GymManager.Core.MembershipTypes.MembershipType>
@{
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Cost</th>
            <th scope="col">Duration</th>
            <th scope="col">Create On</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </tr>
    </thead>
    <tbody>
        @foreach (var membership in Model)
        {
            <tr>
                <th scope="row">@membership.Name</th>
                <td>@membership.Cost</td>
                <td>@membership.Duration</td>
                <td>@membership.CreatedOn</td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-info" asp-route-memberId="@membership.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-memberId="@membership.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>