@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<GymManager.Core.Members.Member>
@{
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </tr>
    </thead>
    <tbody>
        @foreach(var member in Model)
        {
            <tr>
                <th scope="row">@member.Name</th>
                <td>@member.LastName</td>
                <td>@member.BirthDay.ToString("dd/MM/yy")</td>
                <td>@member.Email</td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-info" asp-route-memberId="@member.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-memberId="@member.Id">Delete</a>
                    </td>
            </tr>    
        }
    </tbody>
</table>